<a class="category<!-- IF S_TOPFIVE_HIDDEN --> hidden-category<!-- ENDIF -->" style="display: none; height: 0"></a>
<div class="forabg responsive-hide" id="top_five">
	<div class="inner">
	<ul class="topiclist">
		<li class="header">
			<dl class="<!-- IF S_PHPBB_IS_32 -->row-item<!-- ELSE -->icon<!-- ENDIF -->">
				<dt><div class="list-inner">{L_NEWEST_TOPICS}</div></dt>
				<dd class="topics tf-active-header">{L_TOP_FIVE_ACTIVE}</dd>
				<dd class="lastpost"><span>{L_TOP_FIVE_NEWEST}</span></dd>
			</dl>
			<!-- IF U_TOPFIVE_COLLAPSE_URL --><a href="{U_TOPFIVE_COLLAPSE_URL}" class="collapse-btn collapse-<!-- IF S_TOPFIVE_HIDDEN -->show<!-- ELSE -->hide<!-- ENDIF -->" data-hidden="{S_TOPFIVE_HIDDEN}" data-ajax="phpbb_collapse" data-overlay="true" title="{L_COLLAPSIBLE_CATEGORIES_TITLE}" style="display: none; line-height: 0;"></a><!-- ENDIF -->
		</li>
	</ul>
	<ul class="topiclist forums">
		<li class="row">
			<dl>
				<dt>
					<div class="list-inner">
						<ul>
							<!-- BEGIN top_five_topic -->
								<li>
									<!-- IF top_five_topic.NO_TOPIC_TITLE-->
										{top_five_topic.NO_TOPIC_TITLE}
									<!-- ELSE -->
										<a href="{top_five_topic.U_TOPIC}" class="topictitle subforum<!-- IF top_five_topic.S_UNREAD --> unread<!-- ELSE --> read<!-- ENDIF -->">
											<!-- IF S_PHPBB_IS_32 --><i class="icon fa-file-o fa-fw <!-- IF top_five_topic.S_UNREAD --> icon-red<!-- ELSE --> icon-blue<!-- ENDIF --> icon-md" aria-hidden="true"></i><!-- ENDIF -->
											{top_five_topic.TOPIC_TITLE}</a><span class="meta">{top_five_topic.USERNAME_FULL} &raquo; {top_five_topic.LAST_TOPIC_TIME} &raquo; {L_IN}&nbsp;<a href="{top_five_topic.U_FORUM}">{top_five_topic.FORUM_NAME}</a></span>
										<!-- EVENT rmcgirr83_top_five_topiclist_row_append -->
									<!-- ENDIF -->
								</li>
							<!-- END top_five_topic -->
						</ul>
					</div>
				</dt>
				<dd class="topics tf-most-active">
					<ul>
						<!-- BEGIN top_five_active -->
							<li>
								<span class="meta">{top_five_active.USERNAME_FULL}<span><br />&nbsp;&nbsp;{L_POSTS}{L_COLON} <a href="{top_five_active.S_SEARCH_ACTION}">{top_five_active.POSTS}</a></span></span>
							</li>
						<!-- END top_five_active -->
					</ul>
				</dd>
				<dd class="lastpost tf-newest"><span>
					<ul>
						<!-- BEGIN top_five_newest -->
							<li>
								<span class="meta">{top_five_newest.USERNAME_FULL}<span><br />&nbsp;&nbsp;{L_JOINED}{L_COLON} {top_five_newest.REG_DATE}</span></span>
							</li>
						<!-- END top_five_newest -->
					</ul>
				</span></dd>
			</dl>
		</li>
	</ul>
	</div>
</div>
