#tf_new_posts {
	width: 50%;
}

#tf_most_active {
	width: 20%;
}

#tf_newest {
	width: 30%;
}

#top_five th {
	text-align: left;
}

#top_five td {
	vertical-align: top;
}

#top_five ul {
	list-style-type: none;
}

#top_five li {
	padding: 2px 0;
}

#top_five li:first-child {
	padding-top: 0;
}

#top_five li:last-child {
	padding-bottom: 0;
}

#top_five .meta {
	display: block;
	padding-left: 8px;
}

.rtl #top_five th {
	text-align: right;
}

.rtl #top_five .meta {
	padding-left: 0;
	padding-right: 8px;
}
